* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

a{
    text-decoration: none;
    color: black;
}

nav a{
    color: white;
}
header {
    background-color: gray;
    color: whitesmoke;
    padding: 10px 0;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

main {
    display: grid;
    grid-template-columns: 200px 1fr; 
    gap: 20px;
    min-height: 80vh;
}

aside {
    background-color: gray;
    color: whitesmoke;
    padding: 15px;
}

aside ul {
    list-style: none;
}

aside li {
    margin-bottom: 10px;
}

.produtos-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 20px;
    padding-top: 20px;
    align-content: start; 
}

.container {
    width: 100%; 
    border: solid 1px black;
    padding: 15px;
    border-radius: 5px;
}